<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Approach</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% directions.each do |direction| %>
      <tr>
        <td><%= direction.order %></td>
        <td><%= direction.approach %></td>
        <td><%= direction.content %></td>
        <td><%= link_to 'Show', [:admin, topic, direction] %></td>
        <td><%= link_to 'Edit', edit_admin_topic_direction_path(topic, direction) %></td>
        <td><%= link_to 'Destroy', [:admin, topic, @direction], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direction', new_admin_topic_direction_path(@topic) %>
