<div class='panel panel-default'>
  <div class='panel-heading'>Directions</div>
  <!-- <div class='panel-body'></div> -->
  <ul class='list-group'>
    <% directions.sort_by(&:order).each do |direction| %>
      <li class='list-group-item'>
        <%= link_to 'Edit', edit_admin_topic_direction_path(topic, direction), {class: 'btn btn-default btn-sm'} %>
        <%= link_to 'Delete', [:admin, topic, direction], {class: 'btn btn-default btn-sm', method: :delete, "data-confirm" => 'Are you sure?' } %>&nbsp;
        <span class="label label-warning"><%= direction.order %></span>&nbsp;
        <span class="label label-info"><%= direction.approach %></span>&nbsp; 
        <%= direction.content %>
      </li>
    <% end %>
    <li class='list-group-item'>
      <%= button_to 'New Direction', new_admin_topic_direction_path(topic), {method: :get, class: 'btn btn-success btn-sm'} %>
    </li>
  </ul>
</div>
