<%= form_for([:admin, @topic], role: 'form') do |f| %>
  <% if   @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this admin_topic from being saved:</h2>
      <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  
  <br />
  
  <% TopicGroup.all.each do |tg| %>
    <div class="checkbox">
      <label>
        <%= check_box_tag "topic[topic_group_ids][]", tg.id.to_s, @topic.topic_group_ids.include?(tg.id.to_s), { class: 'ma-link' } %><%= tg.title %><br>
      </label>
    </div>
  <% end %>
  
  <br />
  
  <div class="form-group">
    <%= f.submit class: 'ma-link' %>
  </div>
<% end %>

