<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% links.each do |link| %>
      <tr>
        <td><%= link.kind %></td>
        <td><%= link.content %></td>
        <td><%= link_to 'Show', [:admin, topic, link] %></td>
        <td><%= link_to 'Edit', edit_admin_topic_link_path(topic, link) %></td>
        <td><%= link_to 'Destroy', [:admin, topic, link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_admin_topic_link_path(topic) %>
