<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.description %></td>
        <td>
          <%= link_to 'Edit', [:admin, topic], { class: 'ma-link'} %>
          <%= link_to 'PDF',  admin_topic_path(topic, format: 'pdf'), { class: 'ma-link'} %>
          <%= link_to 'Destroy', [:admin, topic], {method: :delete, 'data-conform' => 'Are you sure?', class: 'btn btn-default btn-small'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_admin_topic_path, { class: 'btn btn-default btn-small'} %>
