<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= list_group_topic_names(@topic).html_safe %>

<br />

<%= link_to 'Edit', edit_admin_topic_path(@topic), { class: 'ma-link'} %>
<%= link_to 'Back to all Topics', admin_topics_path, {class: 'ma-link'} %>
<br>
<br>
<br>

<%= render partial: 'barriers_list', locals: {topic: @topic, barriers: @topic.barriers} %>
