<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>


<p>Bridges</p>
<%= render partial: 'bridges_list', locals: {topic: @topic, bridges: @topic.bridges} %>
<br>
<br>

<p>Questions</p>
<%= render partial: 'questions_list', locals: {topic: @topic, questions: @topic.questions} %>
<br>
<br>


<%= link_to 'Edit', edit_admin_topic_path(@topic) %> |
<%= link_to 'Back', admin_topics_path %>
