<h1>Listing answers</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.question.title %></td>
        <td><%= answer.title %></td>
        <td><%= link_to 'Show', admin_question_answer_path(@question, answer) %></td>
        <td><%= link_to 'Edit', edit_admin_topic_question_path(@question, answer) %></td>
        <td><%= link_to 'Destroy', admin_question_answers_path(@question, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_admin_topic_question_path(@topic) %>
