<%= form_for([:admin, @topic, @direction]) do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="form-group">
    <%= f.label :approach %><br>
    <%= f.text_field :approach %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'ma-text-edit' %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'ma-link' %>
  </div>
<% end %>
