<p>
  <strong>Order:</strong>
  <%= @direction.order %>
</p>

<p>
  <strong>Approach:</strong>
  <%= @direction.approach %>
</p>

<p>
  <strong>Content:</strong>
  <%= @direction.content %>
</p>

<%= link_to 'Edit', edit_admin_topic_direction_path(@topic, @direction) %> |
<%= link_to 'Back', [:admin, @topic, @direction] %>
