<div class="panel panel-default" data-id="<%= response.id.to_s %>" data-object="response">
  <div class="panel-heading">
    <h4 class="panel-title">
      <!-- data-parent="#accordion-responses" makes only 1 element show at once -->
      <a class="accordion-toggle" data-toggle="collapse" href="#responses-<%= response.id %>">
        <%= response.title ? response.title : "No title" %> | <%= link_to 'Edit', edit_admin_topic_question_response_path(@topic, @question, response) %>
      </a>
    </h4>
  </div>
  <div id="responses-<%= response.id %>" class="panel-collapse collapse in">
    <div class="panel-body">
      <%= response.content %>
    </div>
  </div>
</div>
