<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.topic.title %></td>
        <td><%= question.content %></td>
        <td><%= link_to 'Show', admin_topic_question_path(@topic, question) %></td>
        <td><%= link_to 'Edit', edit_admin_topic_question_path(@topic, question) %></td>
        <td><%= link_to 'Destroy', admin_topic_questions_path(@topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_admin_topic_question_path(@topic) %>
