<p>
  <strong>Topic:</strong>
  <%= @question.topic.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Edit Question', edit_admin_topic_question_path(@topic, @question), { class: 'ma-link' }%>
<%= link_to 'Back', [:admin, @topic], { class: 'ma-link' } %>

<div class="vspace-20"></div>

<%= link_to 'Add Context', add_context_admin_topic_question_path(@topic, @question), { class: 'ma-link', method: :post} %>

<div class="vspace-20"></div>

<div class="row">
  <% @question.contexts.each do |context| %>
    <div class="col-md-3 lane">
      
      <div class="vspace-10"></div>
      
      <% @question.responses.where(context: context).each do |response| %>
        <%= render partial: '/admin/responses/box', locals: { response: response }  %>
      <% end %>
      
      <% @question.directions.where(context: context).each do |direction| %>
        <%= render partial: '/admin/directions/box', locals: { direction: direction } %>
      <% end %>
      
      <div class="vspace-20"></div>
      
      <div class="actions">
        <%= link_to 'Add Response',   new_admin_topic_question_response_path(@topic, @question, {context: context}), { class: 'ma-link' } %>
        <div class="vspace-10"></div>
        
        <%= link_to 'Add Direction',  new_admin_topic_question_direction_path(@topic, @question, {context: context}), { class: 'ma-link' } %>
        <div class="vspace-10"></div>
        
        <%= link_to 'Delete Context', delete_context_admin_topic_question_path(@topic, @question, question: { context: context}), { class: 'ma-link', method: :delete} %>
      </div>
    </div>
  <% end %>
</div>
