<div class="box draggable">
  <div class="panel panel-default attributes" data-context="<%= transition.context.to_s %>" data-object="transition" data-id="<%= transition.id.to_s %>">
    <div class="panel-heading">
      <span class="label label-primary">Transition</span>&nbsp;&nbsp;<%= transition.title %>
    </div>
    <div class="panel-body">
      <p><b>Content:&nbsp;</b><%= transition.content %></p>
      <div class="actions">
        <%= link_to 'Edit', edit_admin_topic_question_transition_path(@topic, @question, transition), { class: 'ma-link' }%>
        <%= link_to 'Delete', admin_topic_question_transition_path(@topic, @question, transition), { class: 'ma-link', method: :delete }%>
      </div>
    </div>
  </div>
</div>
