<%= form_for([:admin, @topic, @barrier]) do |f| %>
  <% if @barrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barrier.errors.count, "error") %> prohibited this barrier from being saved:</h2>

      <ul>
      <% @barrier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit class: 'ma-link' %>
  </div>
<% end %>
